{% extends 'base.html' %} {% block title %}Mad Libs Exercise{% endblock%} {%
block content%}
<div class="col-4">
	<h1 class="display-3">Madlibs:</h1>
	<div class="form-group mt-3">
		<form action="/story">
			{% for prompt in prompts %}
			<label for="">{{prompt}}:</label>
			<input
				type="text"
				class="form-control mb-3"
				name="{{prompt}}"
				id=""
				placeholder="Enter {{prompt}}..."
			/>
			{% endfor %}
			<button type="submit" class="btn btn-block btn-primary mt-5">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
